body {
  background-color: #f8e8a6;
}
h1,
p {
  text-align: center;
}
h1 {
  margin: 40px;
}
.croissant-image {
  max-width: 60%;
  display: block;
  margin: 30px auto;
  border-radius: 12px;
}
.navigation {
  text-align: center;
}
.navigation a {
  color: green;
  margin: 0 12px;
}
